@import url(/imports/app.css);

body{
    position: relative;
    min-height: 100vh;
}

.header p{
    background: #248170;
    padding: .5rem .5rem;
}

.header h1{
    background: #00669F;
    padding: 1rem 1rem;
    font-size: 2.5rem;
}

.container{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 5rem 0;
    position: relative;
    background-color: #1CD1B0;
    width: 300px;
    height: 529px;
    border-radius: 20px 20px 0 0;
    background: #F3F3F3;
    box-shadow: 0 7px 10px -3px#000;
}


.logo{
    width: 120px;
    position: absolute;
    top: 135px;
    left: 94px;
    border-radius: 50%;
    box-shadow: 0 0 15px  2px#000;
    
}

.corazon{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    
}
.card__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;
    
}

.card__container h2{
    padding-bottom: 1.2rem;
    font-size: 1.875rem;
}

.card__container p{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.card__container button{
    background: #00669F;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    color:#F3F3F3;
}

.button{
    box-shadow: 0 5px 7px -2px#000;
}
.footer{
    background: #00669F;
    padding: 1rem 1rem;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}